{% extends 'layouts/default.njk' %}
{% block body %}
    <div class="auth-wrapper">
      <form method="POST" action="" class="form-signin">
        <h1>Fazer login</h1>
        <input name="email" type="email" placeholder="e-mail">
        <input name="password" type="password" placeholder="senha">
        <button type="submit">Logar</button>
        <a href="/signup">Criar conta gratuitamente</a>
      </form>
    </div>
{% endblock %}

